/*
         Variables
        */
:root {
    --primary-color: #febf00;
    --primary-color-hover: #dda703;
    --primary-color-border: #febf00;
    --sb-track-color: rgb(243 244 246);
    --sb-thumb-color: var(--primary-color);
    --sb-size: 5px;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}

.svg-icon {
    max-width: 50px;
    height: auto;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-primary-color:hover {
    background-color: var(--primary-color-hover);
}

.primary-color {
    color: var(--primary-color);
}

.primary-color-border {
    border-color: var(--primary-color-border);
}

.primary-color-border:hover {
    border-color: var(--primary-color-hover);
}

@keyframes customBounce {

    0%,
    100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.image-hero {
    position: relative;
    margin-top: 60px;
    animation: fadeInUpBig;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
    /* don't forget to set a duration! */
}

.image-hero img {
    width: 100%;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(100px);
    }
}

#scroll-downs-icon-mouse>#wheel {
    animation: scroll ease 1.5s infinite;
}

.custom-bounce {
    animation: customBounce 1s infinite;
}

.animate_underline {
    position: relative;
    display: inline-block;
}

.animate_box {
    position: relative;
    display: inline-block;
}

.callout {
    width: 200px;
    height: 100px;
}


#mpu-callout {
    left: 0;
    right: 50%;
    margin: auto;
    top: 0;
}

#arduino-callout {
    left: 40%;
    right: 0;
    margin: auto;
    top: 0%;
}

#bluetooth-callout {
    left: 18%;
    right: 0;
    margin: auto;
    top: 50%;
}

#battery-callout {
    left: 22%;
    margin: auto;
    top: 55%;
}

#gabriele-callout {
    left: 1%;
    margin-bottom: 8%;
}

#lorenzo-callout {
    left: 6%;
    margin-bottom: 8%;
}

#matteo-callout {
    left: 8%;
    margin-bottom: 8%;
}

#paolo-callout {
    left: 32%;
    margin-bottom: 10%;
}


.callout-rect rect {
    fill: transparent;
    opacity: 1;
}

.callout-rect rect:not(#battery1, #battery2):hover {
    fill: #febf00;
    opacity: 0.2;
}

/* Add a bullet point for every rect */
.callout-rect circle {
    fill: white;
    opacity: 1;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.6));
}


.loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 999999;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.loader {
	width: 48px;
	height: 48px;
	display: block;
	margin: 15px auto;
	position: relative;
	color: var(--primary-color);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 50%;
	left: 50%;
	transform: scale(0.5) translate(0, 0);
	background-color: var(--primary-color-hover);
	border-radius: 50%;
	animation: animloader 1s infinite ease-in-out;
}

.loader::before {
	background-color: var(--primary-color);
	transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes animloader {
	50% {
		transform: scale(1) translate(-50%, -50%);
	}
}